.header-main{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 5rem;
    font-size: 14px;
    color: #6b6868;
}

.header-main p{
    font-weight: 400;
    padding-left: .5rem;
    height: 100%;
}

.hdropdown{
    background-color: #FFF!important;
    color: #6b6868;
    border: none;
}

@media only screen and (max-width:600px){
    .header-main{
        align-items: center;
        font-size: 13px;
        display: flex;
        justify-content: space-around;
        margin: 0;

    }
}
